<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head lang="en">

    <title>Pedidos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body th:style="'background-image: url('+@{/imagenes/fondoPizza.jpg}+'); background-repeat: no-repeat;
                background-size:100% 100%; background-attachment: fixed; background-possition: center;  background-color:#FAFAD2;'">

<div class="box">
    <div >
        <form class="form-horizontal" th:object="${pedido}" th:action="${'/registrarpedido/' + Empresa_Seleccionada.idEmpresa}" method="post">

            <input type="hidden" th:field="*{id}"/>
            <div align="center"><font th:text="${Empresa_Seleccionada.nombre}" size="6" color="white"></font></div>
            <div align="center"><font th:text="${Empresa_Seleccionada.descripcion}" size="5" color="white"></font></div>
            <div align="left" ><font th:text="${'Calificacion: ' + Empresa_Seleccionada.calificacion}" size="3" color="white"></font></div>
            <div align="left" ><font th:text="${'Telefono: ' + Empresa_Seleccionada.telefono}" size="3" color="white"></font></div>
            <div align="left" ><font th:text="${'Direccion: ' + Empresa_Seleccionada.direccion}" size="3" color="white"></font></div>
            <div align="left" >
                    <div th:each= "option:   ${Empresa_Seleccionada.Options}">
                        <font th:text="${option.name}" size="3" color="white"></font>
                        <img class="info" th:src="${option.image}" alt="Imagen no establecida" width="100" height="100" />
                        <!--<div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{cantidad}"/>
                                <span style="color: red;" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}">Error</span>
                            </div>
                        </div>-->
                    </div>
            </div>
            Calle:<input type="text" th:object="${pedido}"  th:field="*{calle}" />
            Numero de casa:<input type="text" th:object="${pedido}"  th:field="*{numeroDeCasa}" />
            Zip Code:<input type="text" th:object="${pedido}"  th:field="*{zipCode}" />

            Precio:<input type="text" th:object="${pedido}"  th:field="*{precio}"/>


            Cantidad:<input type="text" th:object="${opcionPedido}" th:field="*{cantidad}"/>
            <!-- <div class="container">
               <form th:action="@{/registrarpedido}" method="POST" class="form-signin">
                   <div class="count-input space-bottom">
                       <a class="incr-btn" data-action="decrease" href="#"><button>-</button></a>
                       <input class="quantity" type="text" name="quantity" value="1"/>
                       <a class="incr-btn" data-action="increase" href="#"><button>+</button></a>
                   </div>
               </form>
           </div> -->
            <div class="row">
                <button type="submit" class="btn btn-default">PEDIR</button>
            </div>


    </form>
    </div>
</div>

</body>
</html>